@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Enter details to look up student record</p>
</div>

<div class="container">
    <form method="get" action=>
        <div class="mb-3">
            <label for="firstNameInput" class="form-label">FirstName</label>
            <input type="firstName" class="form-control" id="firstNameInput" >
        </div>
        <div class="mb-3">
            <label for="surnameInput" class="form-label">Surname</label>
            <input type="surname" class="form-control" id="surnameInput" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>